<ion-view view-title="Graphs">
<ion-content>
<div class="card" ng-show="dataToPlot[0]"  style="background-color:#57CFF7">
<div class="card"><h1>Last 30 days</h1></div>
<div class="row">
  <div ng-show="dataToPlot[0]" class="col" style="background-color:{{dataToPlot[0].color}}">{{dataToPlot[0].day}}/{{dataToPlot[0].month}}</div>
  <div ng-show="dataToPlot[1]" class="col">{{dataToPlot[1].day}}/{{dataToPlot[1].month}}</div>
  <div ng-show="dataToPlot[2]" class="col">{{dataToPlot[2].day}}/{{dataToPlot[2].month}}</div>
  <div ng-show="dataToPlot[3]" class="col">{{dataToPlot[3].day}}/{{dataToPlot[3].month}}</div>
  <div ng-show="dataToPlot[4]" class="col">{{dataToPlot[4].day}}/{{dataToPlot[4].month}}</div>
</div>
<div class="row">
  <div ng-show="dataToPlot[5]" class="col">{{dataToPlot[5].day}}/{{dataToPlot[5].month}}</div>
  <div ng-show="dataToPlot[6]" class="col">{{dataToPlot[6].day}}/{{dataToPlot[6].month}}</div>
  <div ng-show="dataToPlot[7]" class="col">{{dataToPlot[7].day}}/{{dataToPlot[7].month}}</div>
  <div ng-show="dataToPlot[8]" class="col">{{dataToPlot[8].day}}/{{dataToPlot[8].month}}</div>
  <div ng-show="dataToPlot[9]" class="col">{{dataToPlot[9].day}}/{{dataToPlot[9].month}}</div>
</div>
<div class="row">
  <div ng-show="dataToPlot[10]" class="col">{{dataToPlot[10].day}}/{{dataToPlot[10].month}}</div>
  <div ng-show="dataToPlot[11]" class="col">{{dataToPlot[11].day}}/{{dataToPlot[11].month}}</div>
  <div ng-show="dataToPlot[12]" class="col">{{dataToPlot[12].day}}/{{dataToPlot[12].month}}</div>
  <div ng-show="dataToPlot[13]" class="col">{{dataToPlot[13].day}}/{{dataToPlot[13].month}}</div>
  <div ng-show="dataToPlot[14]" class="col">{{dataToPlot[14].day}}/{{dataToPlot[14].month}}</div>
</div>
<div class="row">
  <div ng-show="dataToPlot[15]" class="col">{{dataToPlot[15].day}}/{{dataToPlot[15].month}}</div>
  <div ng-show="dataToPlot[16]" class="col">{{dataToPlot[16].day}}/{{dataToPlot[16].month}}</div>
  <div ng-show="dataToPlot[17]" class="col">{{dataToPlot[17].day}}/{{dataToPlot[17].month}}</div>
  <div ng-show="dataToPlot[18]" class="col">{{dataToPlot[18].day}}/{{dataToPlot[18].month}}</div>
  <div ng-show="dataToPlot[19]" class="col">{{dataToPlot[19].day}}/{{dataToPlot[19].month}}</div>
</div>
<div class="row">
  <div ng-show="dataToPlot[20]" class="col">{{dataToPlot[20].day}}/{{dataToPlot[20].month}}</div>
  <div ng-show="dataToPlot[21]" class="col">{{dataToPlot[21].day}}/{{dataToPlot[21].month}}</div>
  <div ng-show="dataToPlot[22]" class="col">{{dataToPlot[22].day}}/{{dataToPlot[22].month}}</div>
  <div ng-show="dataToPlot[23]" class="col">{{dataToPlot[23].day}}/{{dataToPlot[23].month}}</div>
  <div ng-show="dataToPlot[24]" class="col">{{dataToPlot[24].day}}/{{dataToPlot[24].month}}</div>
</div>
<div class="row">
  <div ng-show="dataToPlot[25]" class="col">{{dataToPlot[25].day}}/{{dataToPlot[25].month}}</div>
  <div ng-show="dataToPlot[26]" class="col">{{dataToPlot[26].day}}/{{dataToPlot[26].month}}</div>
  <div ng-show="dataToPlot[27]" class="col">{{dataToPlot[27].day}}/{{dataToPlot[27].month}}</div>
  <div ng-show="dataToPlot[28]" class="col">{{dataToPlot[28].day}}/{{dataToPlot[28].month}}</div>
  <div ng-show="dataToPlot[29]" class="col">{{dataToPlot[29].day}}/{{dataToPlot[29].month}}</div>
  </div>
</div>
<div class="card" ng-hide="dataToPlot[0]"  style="background-color:#57CFF7">
<div class="card"><h1>No data to show</h1></div>
</div>








<!--
<div class="card"  style="background-color:yellow">
<p>This page is currently under construction. Please call <a href="http://guillermodejuan.com">Guillermo de Juan Grau</a> for more info.</p>
<a class="item item-icon-left item-icon-right" href="tel:+34618107628">
    <i class="icon ion-telephone"></i>
    Guillermo de Juan Grau
    <i class="icon ion-ios-telephone-outline"></i>
  </a>
  </div>

  <p>[Month and year selector goes here.]</p>
      <div class="card">
   <div class="item item-text-wrap">
      <h1>Weight</h1>
   </div>
   <div class="item item-text-wrap">
      <h1>Caloric intake</h1>
   </div>
   <div class="item item-text-wrap">
      <h1>Tobacco</h1>
   </div>
   <div class="item item-text-wrap">
      <h1>Alcohol</h1>
   </div>
</div>
   -->
   </ion-content>
</ion-view>
